
:root{
    --color1: red;
    --color2: #fff;
}
ul li {
    list-style: none;
    color: var(--color2);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding: 15px;
    background: var(--color1);
    display: inline-block;
    border-radius: 15px;
    margin: 10px;
}
ul li:hover{
    opacity: .8;
    cursor: pointer;
}