@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');
:root{
    --color1: red;
    --color2: #a5a5a5;
}
dialog{
    width: 45%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
dialog::backdrop {
    background: linear-gradient(90deg, rgb(20%, 40%, 60%), rgb(60%, 20%, 40%));
    mix-blend-mode: darken;
}
.mensaje button{
    float: right;
}
form label::after, form label::before{
    content: "\A";
    white-space: pre;
}

input[type="submit"]{
    margin-top: 10px;
}
table{
    width: 100% ;
}
th, td{
    border: 1px solid var(--color2);
}