
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('styleCajas.css');

:root{
    --color1: red;
    --color2: #a5a5a5;
    --tamañoCaja: 550px;
    --tamañoCajaHija: 120px;
}
.container{
    position: relative;
    margin: 0 auto;
    top: 100px;
    background: var(--color1);
    width: var(--tamañoCaja);
    height: var(--tamañoCaja);
}
.container div{
    position: absolute;
    width: var(--tamañoCajaHija);
    height: var(--tamañoCajaHija);
    background: var(--color2);
    text-align: center;
    font-size: 25px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}
.container div:nth-child(2){
    top: 0;
    right: 0;
}
.container div:nth-child(4){
    bottom: 0;
    left: 0;
}
.container div:nth-child(5){
    bottom: 0;
    right: 0;
}